flowtragent_env/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

data/pcap/*
data/csv/*
data/index/*
reports/*

!data/pcap/.gitkeep
!data/csv/.gitkeep
!data/index/.gitkeep
!reports/.gitkeep

.DS_Store
.vscode/
.idea/

