flowtragent_env/
.pip_tmp/
.pip_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

data/pcap/*
data/csv/*
data/index/*
data/rag/*
data/live/*
reports/*

!data/pcap/.gitkeep
!data/csv/.gitkeep
!data/index/.gitkeep
!data/rag/.gitkeep
!data/live/.gitkeep
!reports/.gitkeep

.DS_Store
.vscode/
.idea/
